@font-face {
    font-family: 'Ibmplex-Regular';
    src: url('../Fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }